* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-image: url("./assets/flower-5239814.jpg");
  background-size: cover;
}

#container {
  background-color: rgba(255, 255, 255, 0.993);
  width: 80%;
  height: 90vh;
  margin: 0 auto;
  border-radius: 10px;
  border-top: 10px solid rgb(40, 54, 0);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* ------------------------- */

#input {
}

/* ------------------------- */

#task {
  border: 1px solid rgb(40, 54, 0);
}

#navigation {
  height: 70px;
  list-style: none;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(40, 54, 0);
  position: relative;
}

#navigation li {
  width: 150px;
  cursor: pointer;
  text-align: center;
}

#movingline {
  height: 5px;
  padding: 0px;
  background-color: rgb(255, 196, 0);
  border-radius: 10px;
  position: absolute;
  top: 60px;
}

/* ----------------------------------- */
#task-list {
  display: flex;
  justify-content: space-between;
}
